{
  "extends": "stylelint-config-htmlacademy",
  "rules": {
    "max-nesting-depth": null,
    "codeguide/indentation": [
      2,
      {
        "ignore": [
          "inside-parens"
        ]
      }
    ]
  }
}
