@font-face {
  font-family: "Actay";
  src: url("../../fonts/Actay.woff2")format("woff2"),;
}

@font-face {
  font-family: "Actay Wide";
  src: url("../../fonts/ActayWideBd.woff2")format("woff2"),;
}
