.about {
  @include flex(column, center, center);
  background-color: $main-color;
  overflow: hidden;
  padding: 10% 0;
  &__title {
    font-family: $wide-font;
    font-size: 110px;
    text-transform: uppercase;
    color: $white;
    text-align: left;
    position: relative;
    margin: 0 10%;
    &::after {
      content: "";
      position: absolute;
      top: -15%;
      right: 2%;
      background-image: url("../../images/decor/arrow_about.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 490px;
      height: 150px;
      @media (max-width: $tablet-width) {
        background-image: url("../../images/decor/arrow_about_mob.svg");
        width: 180px;
        height: 75px;
        top: 7%;
        right: 2%;
      }
    }
    @media (max-width: $tablet-width) {
      font-size: 35px;
    }
  }
  &__text {
    font-size: 20px;
    text-align: left;
    margin: 40px 10% 75px;
    @media (max-width: $tablet-width) {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
  &__line {
    position: relative;
    height: 320px;
    align-self: flex-start;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../../images/decor/about_line@2x.webp");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    @media (max-width: $tablet-width) {
      height: 160px;
    }
  }
  &__btn {
    margin-top: 50px;
    font-family: $wide-font;
    text-decoration: none;
    color: $black;
    border: 0;
    font-size: 20px;
    text-align: center;
    position: relative;
    transition: 0.5s;
    &::before {
      content: "";
      position: absolute;
      top: -34px;
      right: -36px;
      width: 285px;
      height: 90px;
      mask-image: url("../../images/decor/stroke_btn.svg");
      mask-size: 100% 100%;
      mask-position: center center;
      background-color: $white;
      transition: 0.5s;
      @media (max-width: $tablet-width) {
        top: -25px;
        width: 230px;
        height: 70px;
      }
    }
    &:hover {
      color: $white;
    }
    @media (max-width: $tablet-width) {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
}

.mobile {
  display: none;
  @media (max-width: $tablet-width) {
    display: block;
  }
}
