.callback {
  padding: 10% 7%;
  overflow: hidden;
  @include flex(row, center, center);
  &__link {
    font-size: 60px;
    text-decoration: none;
    color: $black;
    margin-right: 7%;
    position: relative;
    @media (max-width: 1290px) {
      font-size: 50px;
    }
    &::before {
      content: '';
      position: absolute;
      top: -60px;
      left: -60px;
      width: 670px;
      height: 183px;
      background-image: url("../../images/decor/stroke_callback.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      @media (max-width: 1290px) {
        width: 565px;
        left: -55px;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: 16%;
      right: -17%;
      height: 42px;
      width: 160px;
      background-image: url("../../images/decor/callback_arrow.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      @media (max-width: 1290px) {
        width: 130px;
      }
    }
    &:hover::after {
      animation: moveX 1s infinite;
    }
    &:hover::before {
      animation: shake 1s infinite;
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

@keyframes moveX {
  0% {
    right: -17%;
  }
  50% {
    right: -22%;
  }
  100% {
    right: -17%;
  }
}
