.callback {
  padding: 10% 7%;
  &__link {
    font-size: 60px;
    text-decoration: none;
    color: $black;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: -60px;
      left: -60px;
      width: 670px;
      height: 183px;
      background-image: url("../../images/decor/stroke_callback.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &::after {
      content: '';
      position: absolute;
      top: 16%;
      right: -17%;
      height: 42px;
      width: 160px;
      background-image: url("../../images/decor/callback_arrow.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &:hover::after {
      animation: moveX 1s infinite;
    }
    &:hover::before {
      animation: shake 1s infinite;
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

@keyframes moveX {
  0% {
    right: -17%;
  }
  50% {
    right: -22%;
  }
  100% {
    right: -17%;
  }
}
