.clients {
  padding: 5% 7%;
  &__title {
    font-size: 60px;
    margin-bottom: 30px;
    text-transform: lowercase;
  }
  &__list {
   display: flex;
   align-items: center;
  }
}

.splide {
  margin-bottom: 50px;
}
