.clients {
  padding: 5% 7%;
  &__title {
    font-size: 60px;
    margin-bottom: 30px;
    text-transform: lowercase;
  }
  &__list {
    @include flex(row, flex-start, center);
    flex-wrap: nowrap;
    gap: 20px;
  }
}

.splide {
  margin-bottom: 50px;
}
