.error__body {
  background-color: $main-color;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    left: -3%;
    width: 30%;
    height: 100%;
    background-image: url("../../images/decor/left_lent.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left center;
  }
  &::after {
    content: "";
    position: absolute;
    right: -2%;
    width: 30%;
    height: 100%;
    background-image: url("../../images/decor/right_lent.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right center;
  }
}

.error__img {
  display: block;
  margin: auto;
  max-width: 50%;
  height: auto;
}

.error__link {
  margin-bottom: 80px;
  font-size: 60px;
  text-decoration: none;
  align-self: center;
  color: $black;
  position: relative;
  @media (max-width: 1240px) {
    font-size: 20px;
    margin-bottom: 50px;
  }
  @media (max-width: $tablet-width) {
   font-size: 16px;
   margin-bottom: 50px;
  }
  &::before {
    content: '';
    position: absolute;
    top: 17px;
    left: -195px;
    height: 42px;
    width: 160px;
    background-image: url("../../images/decor/error_arrow.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @media (max-width: 1240px) {
      top: 5px;
      left: -50px;
      height: 12px;
      width: 40px;
    }
    @media (max-width: $tablet-width) {
      top: 5px;
      left: -50px;
      height: 12px;
      width: 40px;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: -53%;
    right: -3%;
    width: 459px;
    height: 153px;
    background-image: url("../../images/decor/error_stroke.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @media (max-width: 1240px) {
      width: 155px;
      height: 50px;
    }
    @media (max-width: $tablet-width) {
      width: 125px;
      height: 40px;
    }
  }
  &:hover::before {
    animation: moveErr 1s infinite;
    @media (max-width: 1240px) {
      animation: moveErr_mob 1s infinite;
    }
    @media (max-width: $tablet-width) {
      animation: 0;
    }
  }
  &:hover::after {
    animation: shake 1s infinite;
  }
}

@keyframes moveErr {
  0% {
    left: -195px;
  }
  50% {
    left: -210px;
  }
  100% {
    left: -195px;
  }
}

@keyframes moveErr_mob {
  0% {
    left: -50px;
  }
  50% {
    left: -70px;
  }
  100% {
    left: -50px;
  }
}
