.hero {
  @include flex(row, center, center);
  background-image: url("../../images/main_bg@2x.webp");
  background-size: 100% 100%;
  background-repeat: repeat;
  background-position: center center;
  width: 100%;
  padding: 25% 7%;
  overflow: hidden;
  position: relative;
  @media (max-width: $tablet-width) {
    height: 100vh;
    background-size: cover;
  }
  &::after {
    content: "";
    pointer-events: none;
    width: 100%;
    height: 23%;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../../images/decor/divider.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom -2px center;
    @media (max-width: $tablet-width) {
      background-size: 100% auto;
    }
  }
}

.cloud_1 {
  background-image: url("../../images/decor/cloud_1.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 18%;
  height: 18%;
  position: absolute;
  top: 12%;
  right: -2%;
  display: none;
  @media (min-width: #{$tablet-width + 1px}) {
    display: block;
  }
}

.cloud_2 {
  background-image: url("../../images/decor/cloud_2.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 20%;
  height: 15%;
  position: absolute;
  top: 8%;
  right: 40%;
  display: none;
  @media (min-width: #{$tablet-width + 1px}) {
    display: block;
  }
}

.cloud_3 {
  background-image: url("../../images/decor/cloud_3.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 35%;
  height: 35%;
  position: absolute;
  bottom: 8%;
  right: 20%;
  display: none;
  @media (min-width: #{$tablet-width + 1px}) {
    display: block;
  }
}

.cloud_4 {
  background-image: url("../../images/decor/cloud_4.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 30%;
  height: 30%;
  position: absolute;
  top: -5%;
  left: -5%;
  display: none;
  @media (min-width: #{$tablet-width + 1px}) {
    display: block;
  }
}

.cloud_camera {
  background-image: url("../../images/decor/cloud_camera.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 30%;
  height: 50%;
  position: absolute;
  bottom: -2%;
  left: 2%;
  display: none;
  @media (min-width: #{$tablet-width + 1px}) {
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-image: url("../../images/decor/camera.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
  }
  &:hover::after {
    opacity: 1;
  }
}

.cloud_cut {
  background-image: url("../../images/decor/cloud_cut.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 57%;
  position: absolute;
  top: 2%;
  left: 5%;
  display: none;
  @media (min-width: #{$tablet-width + 1px}) {
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-image: url("../../images/decor/cut.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60%;
    height: 60%;
    opacity: 0;
    transition: 1s;
  }
  &:hover::after {
    opacity: 1;
  }
}

.cloud_plansh {
  background-image: url("../../images/decor/cloud_plansh.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 33%;
  height: 35%;
  position: absolute;
  top: 5%;
  right: -6%;
  display: none;
  @media (min-width: #{$tablet-width + 1px}) {
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-image: url("../../images/decor/hamster.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 80%;
    opacity: 0;
    transition: 1s;
  }
  &:hover::after {
    opacity: 1;
  }
}

.cloud_dragon {
  background-image: url("../../images/decor/cloud_dragon.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 20%;
  height: 35%;
  position: absolute;
  bottom: 8%;
  right: 42%;
  z-index: 4;
  display: none;
  @media (min-width: #{$tablet-width + 1px}) {
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-image: url("../../images/decor/dragon.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 70%;
    height: 70%;
    opacity: 0;
    transition: 1s;
  }
  &:hover::after {
    opacity: 1;
  }
}

.cloud_marilya {
  background-image: url("../../images/decor/cloud_marilya.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 35%;
  height: 50%;
  position: absolute;
  bottom: -2%;
  right: -2%;
  z-index: 3;
  display: none;
  @media (min-width: #{$tablet-width + 1px}) {
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-image: url("../../images/decor/marily.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 70%;
    height: 70%;
    opacity: 0;
    transition: 1s;
  }
  &:hover::after {
    opacity: 1;
  }
}

.hero .logo__img {
  max-width: 20%;
  height: auto;
  margin-bottom: 30px;
  z-index: 2;
  &:last-of-type {
    margin-left: 50px;
    max-width: 80%;
    @media (max-width: $tablet-width) {
      margin-left: 0;
    }
  }
  @media (max-width: $tablet-width) {
    &:first-of-type{
      display: none;
    }
  }
}
