.hero {
  @include flex(row, space-around, center);
  background-image: url("../../images/decor/divider.svg"), url("../../images/main_bg@2x.webp");
  background-size: 100% auto, 100% 100%;
  background-repeat: no-repeat, repeat;
  background-position: bottom -2px center, center center;
  width: 100%;
  padding: 25% 7%;
  position: relative;
  @media (max-width: $tablet-width) {
    height: 100vh;
  }
}

.cloud_1 {
  background-image: url("../../images/decor/cloud1.svg");
  width: 269px;
  height: 150px;
  position: absolute;
  top: 31%;
  right: 1%;
  display: none;
  @media (min-width: #{$tablet-width + 1px}) {
    display: block;
  }
}

.cloud_2 {
  background-image: url("../../images/decor/cloud2.svg");
  width: 156px;
  height: 150px;
  position: absolute;
  bottom: 5%;
  left: 8%;
  display: none;
  @media (min-width: #{$tablet-width + 1px}) {
    display: block;
  }
}

.cloud_3 {
  background-image: url("../../images/decor/cloud3.svg");
  width: 205px;
  height: 150px;
  position: absolute;
  top: 15%;
  left: 5%;
  display: none;
  @media (min-width: #{$tablet-width + 1px}) {
    display: block;
  }
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: -30%;
    right: -10%;
    background-image: url("../../images/decor/camera.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200%;
    height: 200%;
    opacity: 0.1;
    transition: 1s;
  }
  &:hover::after {
    opacity: 1;
  }
}

.cloud_4 {
  background-image: url("../../images/decor/cloud4.svg");
  width: 298px;
  height: 150px;
  position: absolute;
  top: 35%;
  left: 36%;
  display: none;
  @media (min-width: #{$tablet-width + 1px}) {
    display: block;
  }
}

.hero .logo__img {
  max-width: 100%;
  height: auto;
  @media (max-width: $tablet-width) {
    &:first-of-type{
      display: none;
    }
  }
}
