.production {
  padding: 5% 7%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px 40px;
  &--project {
    grid-template-columns: repeat(3, 1fr);
    gap: 35px 40px;
    @media (max-width: $tablet-width) {
      grid-template-columns: 1fr;
    }
    background-color: $white;
  }
  &__header {
    @include flex(row, space-between, center);
    width: 100%;
    @media (max-width: $tablet-width) {
      flex-direction: column;
      align-items: flex-start;
    }
    & .project__back:first-of-type {
      margin-left: 50px;
    }
    & .project__back--next {
      margin-right: 50px;
    }
  }
  &__title {
    font-size: 60px;
    text-transform: lowercase;
    @media (max-width: 800px) {
      font-size: 50px;
    }
    @media (max-width: $tablet-width) {
      font-size: 30px;
    }
  }
  &__item {
    @include flex (column, space-between, center);
    &--hide {
      display: none;
    }
  }
  &__anim {
    display: none;
    border-radius: 15px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__img {
    border-radius: 15px;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__link__img:hover {
    .production__anim {
      display: block;
    }
    .production__img {
      display: none;
    }
  }
  &__link {
    text-decoration: none;
    color: $black;
    transition: 0.5s;
    &:hover {
      color: $orange;
    }
    &__img {
      width: 100%;
    }
  }
  &__name {
    margin-top: 25px;
    text-align: center;
  }
  &__text {
    font-family: $main-font;
    margin-top: 5px;
    text-align: center;
    @media (max-width: $tablet-width) {
      font-size: 12px;
    }
  }
  &__category {
    &-list {
      @include flex(row, center, center);
    }
    &-item{
      margin-top: 10px;
      margin-right: 10px;
      color: $gray;
      font-family: $main-font;
      text-align: center;
      transition: 0.5s;
      &:hover {
        color: $black;
      }
      @media (max-width: $tablet-width) {
        font-size: 12px;
      }
    }
  }
  & .rows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px 40px;
    margin-bottom: 50px;
    @media (max-width: $tablet-width) {
      grid-template-columns: 1fr;
    }
  }
  &__more {
    grid-column: 1/-1;
    text-decoration: none;
    color: $black;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 20px;
    position: relative;
    transition: 0.5s;
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 50%;
      width: 285px;
      height: 90px;
      mask-image: url("../../images/decor/stroke_more.svg");
      mask-size: 100% 100%;
      mask-position: center center;
      background-color: $orange;
      transform: translate(55%, -50%);
      transition: 0.5s;
      @media (max-width: $tablet-width) {
        width: 215px;
        height: 85px;
      }
    }
    &:hover{
      color: $orange;
    }
    @media (max-width: $tablet-width) {
      font-size: 16px;
    }
  }
}

.production__filter {
  @include flex(row, flex-start, center);
  width: 47%;
  @media (max-width: $tablet-width) {
    width: 100%;
  }
  & .filter  {
    &__item{
      padding: 4px 10px;
      margin-bottom: 10px;
      @media (max-width: $tablet-width) {
        margin-bottom: 0;
      }
    }
    &__link {
      color: $black;
      text-decoration: none;
      font-size: 15px;
      border: 2px solid $gray;
      border-radius: 20px;
      padding: 4px 19px;
      transition: 0.5s;
      &:hover {
        border: 2px solid $orange;
        color: $orange;
        background-color: transparent;
      }
      &--active {
        border: 2px solid $orange;
        color: $white;
        background-color: $orange;
      }
      @media (max-width: $tablet-width) {
        font-size: 12px;
        padding: 2px 10px;
      }
    }
  }
}
