.reviews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 50px 40px;
  padding: 5%;
  position: relative;
  @media (max-width: 930px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $tablet-width) {
    gap: 30px;
  }
  &__title {
    font-size: 60px;
    text-transform: lowercase;
    grid-column: 1/-1;
    @media (max-width: 930px) {
      font-size: 40px;
      grid-column: 1/-1;
      margin-top: 30px;
    }
  }
  &__desc {
    font-family: $wide-font;
    font-size: 20px;
    grid-column: 1/-1;
    @media (max-width: $tablet-width) {
      font-size: 16px;
    }
  }
  &__item {
    position: relative;
    &:hover {
      .reviews__img {
        filter: blur(0);
      }
      .reviews__logo {
        opacity: 0;
      }
    }
  }
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 1;
    transition: 0.5s;
  }
  &__img {
    width: 100%;
    height: auto;
    z-index: 2;
    object-fit: cover;
    object-position: center center;
    filter: blur(10px);
    transition: 0.8s;
    &:hover {
      filter: blur(0);
    }
  }
}
